@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Le but de cet app ici était de me familiariser avec .NET MVC / C#.</p> 
    <a asp-controller="Tasks" asp-action="Index">Cliquez ici</a> pour voir votre To Do List</p>
</div>
