
@using ToDoListWebApp.Models.DomainModels
@model ToDoListWebApp.Models.ViewModels.TaskViewModel

@{
    ViewData["Title"] = "Création";
}

<h2>Creation de tâche</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Task.Nom" class="control-label"></label>
                <input asp-for="Task.Nom" class="form-control" />
                <span asp-validation-for="Task.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Description" class="control-label"></label>
                <input asp-for="Task.Description" class="form-control" />
                <span asp-validation-for="Task.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.DateLimite" class="control-label"></label>
                <input asp-for="Task.DateLimite" class="form-control" />
                <span asp-validation-for="Task.DateLimite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Priorite" class="control-label"></label>
                @if (Model?.PrioriteList != null && Model.PrioriteList.Count > 0)
                {
                    <select asp-for="Task.Priorite" class="form-select" asp-items="@(new SelectList(Model.PrioriteList, "Id", "Libelle"))">
                        <option>-- Sélectionner une priorité --</option>
                    </select>
                }
                else
                {
                    <select asp-for="Task.Priorite" class="form-select">
                        <option>-- Aucune priorité disponible --</option>
                    </select>
                }
                <span asp-validation-for="Task.Priorite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Categorie" class="control-label"></label>
                <input asp-for="Task.Categorie" class="form-control" />
                <span asp-validation-for="Task.Categorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
