@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
    --body-bgcolor: #f2f2f2;
    --primary-bg-color: #fff;
    --secondary-bg-color: #0093dd;
    --radius-td: 6px;
    --box-shadow-priorite-field: var(--primary-bg-color);
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--body-bgcolor);
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


/*custom code*/
body {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.data-filled {
    line-height: 1.3rem;
}

:is(input, a, select, button, .form-select):focus-visible {
    outline: 2px solid var(--secondary-bg-color);
    outline-offset: 2px;
}

[class^="bt-"] {
    transition: all 0.4s ease;
    &:hover {
        background-color: color-mix(in srgb, var(--secondary-bg-color) 90%, #000);
    }
}

.center {
    text-align: center;
}
.pointer {
    cursor: pointer;
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    cursor: pointer;
    text-decoration: none;
}

.head-index {
    display: flex;
    padding-block-start: 1rem;
    margin-block-end: 1rem;
    h1 {
        margin-bottom: 0;
    }
    > *:last-child {
        margin-left: auto;
    }
}

.bt-add-task {
    display: flex;
    border-radius: var(--radius-td);
    background-color: var(--secondary-bg-color);
    color: var(--primary-bg-color);
    text-decoration: none;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;

    > .material-symbols-rounded {
        margin-left: 0.5rem;
    }
}

.filter-index {
    display: flex;
    align-items: center;
    gap: .5rem;
    #sortList {
        width: auto;
    }
}

table {
    th {
        font-weight: 500;
    }

    &.table--index {
        caret-color: transparent;
        border-collapse: separate;
        border-spacing: 0 10px;

        > :not(caption) > tr {
            &:has(> th) {
                filter: drop-shadow(0px 1px 0px rgba(0,0,0,0.1));
            }

            &:not(:has(> th)):hover {
                transition: all 0.4s ease;
                filter: drop-shadow(0 0 5px rgba(0,0,0,0.15));
            }

            > * {
                background-color: var(--primary-bg-color);
                vertical-align: middle;
                padding: .9rem .5rem;

                &:first-child {
                    border-radius: var(--radius-td) 0 0 var(--radius-td);
                }

                &:last-child {
                    border-radius: 0 var(--radius-td) var(--radius-td) 0;
                }
            }

            &:has(.checkbox-wrapper input[type="checkbox"]:checked) {
                td {
                    --color-line-when-task-done: #a7a7a7;
                    --bgcolor-line-when-task-done: #cdcdcd;
                    background-color: var(--bgcolor-line-when-task-done);

                    &.priorite {
                        --box-shadow-priorite-field: var(--bgcolor-line-when-task-done);
                    }

                    &:not(:has(.icons-action)) {
                        text-decoration: line-through;
                        color: var(--color-line-when-task-done);
                    }
                }

                & .edit-task {
                    color: var(--color-line-when-task-done);
                    pointer-events: none;
                }
            }
        }

        .checkbox-wrapper {
            & > div {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            input[type="checkbox"] {
                appearance: none;
                width: 22px;
                height: 22px;
                border: 2px solid #999;
                border-radius: 4px;
                position: relative;
                cursor: pointer;
                transition: all 0.2s ease;

                &:checked {
                    background-color: var(--secondary-bg-color);
                    border-color: var(--secondary-bg-color);

                    &::after {
                        content: "✓";
                        color: var(--primary-bg-color);
                        font-size: 1rem;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -55%);
                    }
                }
            }
        }
    }
}

.nom {
    font-weight: 500;
}
#description {
    width: 30%;
}

.priorite {
    width: 22px;
    box-shadow: inset 1px 0 0 3px var(--box-shadow-priorite-field) !important;

    &.low {
        background-color: #5cb12e;
    }

    &.medium {
        background-color: #ffea42;
    }

    &.high {
        background-color: #ff8b1b;
    }
}

.small-libelle {
    font-size: 0.8em;
    line-height: 0.8em;
    margin-bottom: 0.1rem;
}
    
.icons-action {
    --transition-icons-action: all 0.3s ease;
    display: flex;
    gap: 10px;

    & > * {
        &:first-child {
            margin-left: auto;
        }

        padding: 8px;
        transition: var(--transition-icons-action);
        color: var(--secondary-bg-color);

        &:hover {
            background-color: var(--secondary-bg-color);
            color: var(--primary-bg-color) !important;
            border-radius: 100px;

            &:after {
                opacity: 1;
            }
        }

        &:after {
            content: attr(data-popin);
            position: absolute;
            font-family: "Fredoka", sans-serif;
            font-size: 0.875rem;
            color: #fff;
            transform: translate(calc(-50% - 12px), -150%);
            background-color: #161616e8;
            padding: 5px;
            border-radius: 3px;
            opacity: 0;
            transition: var(--transition-icons-action);
        }
    }

    > [data-popin="Supprimer"] {
        --color-icon-supprimer: red;
        color: var(--color-icon-supprimer);

        &:hover {
            background-color: var(--color-icon-supprimer);
        }
    }
}

#modalEdit button[type="submit"] {
    background-color: var(--secondary-bg-color);
    border-color: var(--secondary-bg-color);
}

main:has(.frame-delete-task) {
    max-width: 800px;
    margin: auto;
}

.header-delete {
    margin-block: 2rem;
}

.frame-delete-task {
    padding: 1rem;
    background-color: var(--primary-bg-color);
    border-radius: var(--radius-td);
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.10));

    > dt {
        text-align: right;
        font-weight: 500;
    }

    & ~ form {
        margin-block-start:2rem;
    }
}